body, body .header, body .header .header-wrap, body .header .header-wrap .landing-logo, body .header .header-wrap .landing-logo img, body .header .header-wrap .landing-logo p, body .header .header-wrap .landing-logo span, body .header .header-wrap .header_text, body .section, body .section .section_text, body .section .section_card_wrap, body .section .section_card_wrap .section_card, body .section .section_banner, body .section .section_banner .section_banner_text_wrap, body .section .section_banner .section_banner_text_wrap .section_banner_heading, body .section .section_banner .section_banner_text_wrap .section_banner_text, body .section .section_banner .section_banner_button, body .footer, body .footer .footer-wrap .landing-logo, body .footer .footer-wrap .landing-logo img, body .footer .footer-wrap .landing-logo p, body .footer .footer-wrap .landing-logo span, body .footer .footer-wrap .footer_text, body .footer .footer-wrap .footer-cr {
  outline: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px; }

body {
  background-color: #2a2638; }
  body .header {
    height: 720px;
    width: 1920px;
    background: url("../img/m-h-night.jpg") 113% 50% no-repeat;
    background-size: cover;
    border-bottom-right-radius: 50em 18em; }
    body .header .header-wrap .landing-logo {
      width: 127px;
      height: 50px;
      display: flex;
      position: absolute;
      top: 5%;
      left: 21%; }
      body .header .header-wrap .landing-logo img {
        width: 45px;
        height: 45px;
        margin: 0px 12px 0px 0px; }
      body .header .header-wrap .landing-logo p {
        float: right;
        width: 70px;
        height: 25px;
        font-family: "Fresca";
        font-size: 150%;
        font-weight: 600;
        color: #ffffff;
        margin-top: -2px; }
      body .header .header-wrap .landing-logo span {
        float: right;
        width: 70px;
        text-align: center;
        color: #ffffff;
        font-size: 45%;
        font-weight: 300;
        margin-top: -5px;
        margin-right: 5px; }
    body .header .header-wrap .header_heading {
      position: absolute;
      top: 15%;
      left: 20%;
      font-family: "Source Sans Pro";
      font-weight: 700;
      font-size: 430%;
      color: #ffffff;
      line-height: 80px;
      z-index: 1; }
      body .header .header-wrap .header_heading::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 65%;
        left: 0%;
        background-color: #f50f2d;
        width: 290px;
        height: 50px; }
    body .header .header-wrap .header_text {
      position: absolute;
      top: 70%;
      left: 20%;
      margin: 80px 0 80px 0;
      width: 530px;
      font-family: "Fresca";
      font-size: 100%;
      color: #ffffff;
      line-height: 25px; }
    body .header .header-wrap div .header_button {
      position: absolute;
      top: 110%;
      left: 20%;
      margin: 80px 0 80px 0;
      background: #f5e90f;
      color: #ffffff;
      padding: 10px 40px;
      border-width: 0px;
      border-radius: 3px;
      font-family: "Source Sans Pro", cursive;
      font-weight: 600;
      font-size: 120%; }
    body .header .header-wrap div .login {
      position: absolute;
      top: 133%;
      left: 55%;
      color: #ffffff;
      font-weight: 700;
      font-size: 120%; }
  body .section .section_text {
    margin: 3% auto 3% auto;
    text-align: center;
    font-family: "Hind";
    font-size: 260%;
    font-weight: 600;
    color: #ffffff;
    width: 1920px;
    position: relative;
    z-index: 1; }
    body .section .section_text::before {
      z-index: -1;
      content: "";
      position: absolute;
      top: 0%;
      left: 51%;
      background-color: #f50f2d;
      width: 190px;
      height: 50px; }
  body .section .section_card_wrap {
    padding: 0px 350px;
    width: 1200px; }
    body .section .section_card_wrap .section_card {
      max-width: 1200px;
      height: 100%;
      margin: 20px 25px 20px 25px;
      padding: 20px 20px 20px 20px;
      display: flex;
      background-color: #3e3752;
      border-radius: 5px; }
      body .section .section_card_wrap .section_card .section_card_img {
        width: 40%;
        height: auto;
        border-radius: 4px; }
      body .section .section_card_wrap .section_card .section_card_right_container {
        width: 60%;
        font-family: "Fresca";
        color: #ffffff; }
        body .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          text-align: center;
          margin-top: 50px;
          font-weight: 700;
          font-size: 150%; }
        body .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          font-family: "Fresca";
          text-align: left;
          margin: 0px 40px 0px 40px;
          padding: 2% 6% 8% 6%;
          line-height: 25px; }
        body .section .section_card_wrap .section_card .section_card_right_container .section_link {
          font-family: "Hind";
          color: #ffffff;
          color: #ffffff;
          font-weight: 700;
          display: inline-block;
          text-align: center;
          margin-left: 50%;
          margin-right: 30%;
          overflow: visible; }
  body .section .section_banner {
    width: 1200px;
    margin: 130px 230px 120px 330px;
    height: 140px;
    background-color: #ffffff;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #e3d512, #91034a);
    display: flex;
    z-index: 1; }
    body .section .section_banner .section_banner_text_wrap .section_banner_heading {
      font-family: "Source Sans Pro";
      color: #ffffff;
      font-size: 200%;
      font-weight: 600;
      padding: 20px 150px 20px 150px;
      position: relative;
      z-index: 1; }
      body .section .section_banner .section_banner_text_wrap .section_banner_heading::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 12%;
        left: 38%;
        background-color: #f50f2d;
        width: 70px;
        height: 50px; }
    body .section .section_banner .section_banner_text_wrap .section_banner_text {
      font-family: "Fresca";
      color: #ffffff;
      padding: 0px 150px 0px 160px; }
    body .section .section_banner .section_banner_button {
      background: #f5e90f;
      color: #ffffff;
      padding: 10px 40px;
      border-width: 0px;
      border-radius: 3px;
      font-family: "Source Sans Pro", cursive;
      font-weight: 600;
      font-size: 120%;
      padding: 0px 40px 0px 40px;
      margin: 45px 0px 45px 0px;
      position: relative;
      top: 1%;
      left: 17%; }
  body .footer {
    z-index: -1;
    height: 240px;
    width: 1920px;
    background-color: #3e3752;
    position: absolute;
    top: 525%; }
    body .footer .footer-wrap {
      padding: 100px 130px 100px 150px;
      display: flex; }
      body .footer .footer-wrap .landing-logo {
        width: 33%;
        width: 127px;
        height: 50px;
        display: flex;
        margin-top: 30px; }
        body .footer .footer-wrap .landing-logo img {
          width: 45px;
          height: 45px;
          margin: 0px 12px 0px 0px; }
        body .footer .footer-wrap .landing-logo p {
          float: right;
          width: 70px;
          height: 25px;
          font-family: "Fresca";
          font-size: 150%;
          font-weight: 600;
          color: #ffffff;
          margin-top: -2px; }
        body .footer .footer-wrap .landing-logo span {
          float: right;
          width: 70px;
          text-align: center;
          color: #ffffff;
          font-size: 45%;
          font-weight: 300;
          margin-top: -5px;
          margin-right: 5px; }
      body .footer .footer-wrap .footer_text {
        width: 20%;
        color: #ffffff;
        text-align: left;
        font-family: "Fresca";
        margin: 10px 0px 20px 250px;
        padding: 10px 0px 20px 200px;
        line-height: 25px; }
      body .footer .footer-wrap .footer-cr {
        color: #ffffff;
        width: 33%;
        text-align: right;
        margin: 60px 0px 60px 0px;
        padding: 0px 100px 20px 100px; }

/*# sourceMappingURL=style2.css.map */
