$font-freska: 'Fresca';
$font-hind: 'Hind';
$font-sans: 'Source Sans Pro';
$font: $font-hind;
$vidstup: 80px;
$sizes: (
size1: 45%,
size2: 150%,
size3: 430%,
size4: 120%,
size5: 200%,
size6: 260%
);
$font-bolds: (
bold1: 300,
bold4: 400,
bold5: 500,
bold6: 600,
bold7: 700
);
$font-style: normal;
$grey-color: #3d3c3c;
$white-color: #ffffff;
$background-color: #ffffff;
$button-color: #489e1c;
$marker: #0f9ea8;
$text: $grey-color;
$card-color: $grey-color;
$linear-gradient: linear-gradient(45deg,#07de35,#4634eb);
$none: 0px;
$height: 720px;
$width: 1920px;
$imgpath: '../img/m-h-day.jpg';
$center: center ;
$right: right;
$left: left;
$flex: flex;
$sizecv: cover;
$repeatn: no-repeat;
